<header class="site-header">
  <div class="wrapper">
    <div class="site-title">
      <a href="/">{{ site.name }}</a>
    </div>
    <nav class="site-nav">
      <a href="/about/">About</a>
      <a href="/resources/">Resources</a>
      <a href="{{ site.instagramUrl }}" target="_blank" rel="noreferrer">Instagram</a>
      <a class="button" href="{{ site.signupUrl }}" target="_blank" rel="noreferrer">Sign up</a>
    </nav>
  </div>
</header>
